/*----------------Global--------------------*/
*::after::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-yellow.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
}
/*----------------Main--------------------*/
.container {
    width: 1000px;
    min-height: 800px;
    position: absolute;
    top: 10%;
    left: 17%;
    background-color: #fff;
    box-shadow: 0px 6px 30px rgba(97, 97, 97, 0.3);
    overflow: hidden;
}
/*----------------Players--------------------*/

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 800px;
    padding: 100px;
}
#name-1 {
    margin-left: 20px;
}
.player-name {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 10px;
    letter-spacing: 1.5;
}
.active {
    background-color: #f1f1f1f3;
}
.active .player-name {
    font-weight: 300;
}
span {
    content: "\2022";
    color: #EB4D4D;
    margin-left: 20px;
  } 
.active::after {
    font-size: 45px;
    color: #EB4D4D;
    right: 10px;
    top: -7px;
}
/*----------------Scores--------------------*/
.player-score {
    text-align: center;
    color: #EB4D4D;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 120px;
}
/*----------------Current--------------------*/
.player-current-box{
    background-color: #EB4D4D;
    color: #fff;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    padding: 15px;
}
.player-current-label {
    font-size: 12px;
    color: rgb(41, 39, 39);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.player-current-score {
    font-size: 30px;
}

/*----------------Buttons--------------------*/
button {
    position: absolute;
    font-family: 'Lato', sans-serif;
    width: 150px;
    left: 50%;
    color:rgb(78, 77, 77);
    background: none;
    border: none;
    transform: translateX(-50%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    font-weight: 400;
}
button:hover i {
    margin-right: 20px;
}
button:focus {
    outline: none;
}
i {
    display: inline-block;
    color: #EB4D4D;
    font-size: 30px;
    margin-right: 15px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}
.btn-new {
    top: 45px;
}
.btn-roll {
    top: 490px;
}
.btn-hold {
    top: 550px;
}
/*------------------image-dé--------------------*/
.dice {
    position: absolute;
    left: 50%;
    top: 280px;
    transform: translateX(-50%);
    height: 100px;
    max-width: 100px;
    box-shadow: 0px 6px 25px rgb(211, 208, 208);
}
/*------------------Media-Query--------------------*/
@media (max-width: 767.98px){
    .container {
        left: 10%;
    }
    .btn-roll  {
        top : 900px;
        padding: 10px;
    }
    .btn-hold {
        top: 950px;
    }
    .dice {
        top: 750px;
    }
}